/* 通用 */

$view-heigh-100-nav:calc(100vh - 56px);

/* pantone color list */

$pantone_classic_blue: rgb(15,76,129);
$pantone_living_coral:  rgb(250,114,104);
$pantone_white_coral:  rgb(240,246,247);


/* 漸層函式 */
@mixin gradient($colorA, $colorB) {
    background: linear-gradient(170deg, $colorA, $colorB);
    background: -moz-linear-gradient(165deg, $colorA, $colorB);
    background: -webkit-linear-gradient(165deg, $colorA, $colorB);
    background: -o-linear-gradient(165deg, $colorA, $colorB);
}

// NAV style
$font-size-nav:18px;
$font-color-nav:white;
$font-color-nav-hover:rgb(82, 255, 91);
$font-stroke-nav:#056C9B;

$font-color-nav-lang-toggle:rgb(51, 85, 139);

$background_color_nav:#F87148;

//section_2

$section_2_bg_color:#FFB133;


//section_3



// footer
$background_color_footer_top:rgb(243, 216, 140);
$background_color_footer_bot:#FFB133;

$font_color_footer:black;
$font_size_footer:15px;

