@import 'variable';

body {
    overflow-x: hidden;
}

/* NAV */
.bg-nav {
    background-color: $background_color_nav;


    .navbar-brand {
        position: relative;
        margin-right: 150px;

        @media(max-width:1200px) {
            margin-right: 100px;
        }

        @media(max-width:960px) {
            margin-right: 0;
        }

        .nav_logo {
            position: absolute;
            top: -20px;

            img {
                width: 80px;

                @media(max-width:989px) {
                    width: 55px;
                }
            }
        }

    }

    .navbar-collapse {

        .navbar-nav {

            .nav-item {

                .nav_font_style {

                    color: $font-color-nav;
                    font-weight: 600;
                    text-shadow: rgb(122, 122, 122) 1px 1px 0px;

                    &:hover {
                        color: $font-color-nav-hover;
                    }
                }
            }
        }
    }

    .nav_right {

        .nav_right_lang {
            padding-right: 40px;

            .nav_font_style {

                color: $font-color-nav;
                font-weight: 600;

                &:hover {
                    color: $font-stroke-nav;
                }
            }

            .nav_toggle_font_style {
                color: $font-color-nav-lang-toggle;
                font-weight: 600;


                &:hover {
                    color: rgb(209, 59, 63);
                }
            }
        }

        .nav_right_card {
            width: 35px;
            line-height: 40px;

        }
    }

}


/* Section_1 Banner */

#section_1 {

    width: 100%;
    height: $view-heigh-100-nav;
    margin-top: 56px;

    .swiper-container {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-slide {
        background: #fff;
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .section_1_swiper {
        margin-top: 56px;
        width: 100%;
        height: $view-heigh-100-nav;

    }
}

/* Section_2 Menu*/

#section_2 {

    width: 100%;
    min-height: $view-heigh-100-nav;
    /*     background-color: $section_2_bg_color; */
    position: relative;
    background-image: url('/img/buger\ pattern.jpg');
    background-position: center;
    background-size: cover;
    background-color: hsla(0, 0%, 100%, 0.404);
    background-blend-mode: overlay;

    .container_cus {

        @media (max-width:576px) {
            max-width: 100%;

        }
    }

    .section_2_title {

        h2 {
            margin: 48px 0px 0px 0px;

        }

    }

    .section_2_menu {

        a {
            font-size: 18px;

            @media (max-width:996px) {
                font-size: 15px;

            }
        }

        .tab-content {

            .card {

                margin-top: 10px;
                padding: 0 5px;

                img {
                    margin-top: 5px;
                }

                .card_btn {

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media (max-width:996px) {
                        padding: 1px 5px;

                    }

                    button {



                        span {
                            font-size: 15px;
                            padding: 5px 15px;

                            @media (max-width:996px) {
                                font-size: 9px;
                                padding: 5px 5px;

                            }


                        }
                    }

                }
            }




        }
    }

    .section_2_bot {

        .section_2_bot_btns {
            justify-content: flex-end;

        }
    }

}


/* Section_3 Social media*/

#section_3 {

    width: 100%;
    height: $view-heigh-100-nav;
    @include gradient(#FFE862, rgb(131, 32, 131));

    .container_cus {

        @media (max-width:576px) {
            max-width: 100%;

        }
    }

    h2 {
        padding-top: 46px;
        color: $pantone_classic_blue;
    }


}

/* Section_4 banner & locations */

#section_4 {
    .container_cus {

        @media (max-width:576px) {
            max-width: 100%;

        }
    }

    .section_4_banner {
        width: 100%;
        height: 50%;
        background-color: #eeeeee;
        background-image: url('/img/丹丹漢堡-橋頭店.jpg'); //要補圖
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-color: hsla(0, 0%, 100%, 0.2);
        background-blend-mode: overlay;
    }

    .section_4_locations {
        /*         max-height: 80%; */
        /*         padding-top: 50px; */
        background-image: url('/img/locations/taiwan\ map-3.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-color: hsla(0, 0%, 100%, 0.35);
        background-blend-mode: overlay;

        h2 {
            padding: 48px 0px 16px 0px;
            margin: 0;
            color: #2A3491;

        }

        .section_4_locations_content {
            height: 100%;

            .location_city {
                max-width: 200px;
                margin-bottom: 70px;

                h4 {
                    color: #8B1D21;
                    text-shadow: rgb(189, 187, 187) 2px 2px 1px;
                    margin-bottom: 16px;
                }

            }
        }

    }

    .modal {

        .modal-dialog {

            .modal-body {

                .card {
                    

                    @media (min-width:768px) {
                        max-width: 100%;
            
                    }



                    .card-body {

                        .location_icon {

                            
                            a {

                                img {
                                    width: 30px;
                                    height: 30px;
                                    margin: 5px 5px 0 0;
                                }



                            }
                        }
                    }

                }



            }


        }

    }
}


/* Section_5 Features */

#section_5 {
    max-width: 100%;
    // height: $view-heigh-100-nav;
    padding-bottom: 46px;
    background-color: rgb(247, 247, 232);

    .container_cus {

        @media (max-width:576px) {
            max-width: 100%;

        }
    }


    h2 {
        padding-top: 46px;
        margin-bottom: 32px;
        color: $pantone_living_coral;

        @media (max-width:768px) {
            padding-top: 32px;
        }
    }

    .section_5_content_top {
        justify-content: space-between;


        @media (max-width:1200px) {
            justify-content: center;
        }

        @media (max-width:576px) {
            padding: 0 !important;

        }

        .section_5_features {
            background-color: #FFB133;
            height: 200px;

            &:nth-child(1) {
                background-image: url('/img/cards/中西合併.jpg');
                background-position: center;
                background-size: cover;
                display: flex;

                &:hover::after {
                    display: inherit;

                }

                &::after {
                    display: none;
                    content: '中西合併';
                    color: white;
                    text-shadow: rgb(71, 71, 71) 2px 2px 1px;
                    font-weight: 600;
                    width: 100%;
                    height: 100%;
                    background-color: hsla(0, 0%, 100%, 0.35);
                    background-blend-mode: overlay;
                    font-size: 40px;
                    align-items: center;
                    justify-content: center;
                }
            }

            &:nth-child(2) {
                background-image: url('/img/cards/Food-Safety-Blog.jpg');
                background-position: center;
                background-size: cover;
                display: flex;

                &:hover::after {
                    display: inherit;

                }

                &::after {
                    display: none;
                    content: '在地素材';
                    color: white;
                    text-shadow: rgb(71, 71, 71) 2px 2px 1px;
                    font-weight: 600;
                    width: 100%;
                    height: 100%;
                    background-color: hsla(0, 0%, 100%, 0.35);
                    background-blend-mode: overlay;
                    font-size: 40px;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    .section_5_content_bot {
        justify-content: space-between;

        @media (max-width:1200px) {
            justify-content: center;
        }

        @media (max-width:768px) {
            margin-top: 40px;
        }

        @media (max-width:576px) {
            padding: 0 !important;

        }

        .section_5_features {
            background-color: #FFB133;
            height: 200px;

            &:nth-child(1) {
                background-image: url('/img/cards/check.jpg');
                background-position: center;
                background-size: cover;
                display: flex;

                &:hover::after {
                    display: inherit;

                }

                &::after {
                    display: none;
                    content: '品質控管';
                    color: white;
                    text-shadow: rgb(71, 71, 71) 2px 2px 1px;
                    font-weight: 600;
                    width: 100%;
                    height: 100%;
                    background-color: hsla(0, 0%, 100%, 0.35);
                    background-blend-mode: overlay;
                    font-size: 40px;
                    align-items: center;
                    justify-content: center;
                }

            }

            &:nth-child(2) {
                background-image: url('/img/cards/Food-Safety-Blog.jpg');
                background-position: center;
                background-size: cover;
                display: flex;

                &:hover::after {
                    display: inherit;

                }

                &::after {
                    display: none;
                    content: '超值選擇';
                    color: white;
                    text-shadow: rgb(71, 71, 71) 2px 2px 1px;
                    font-weight: 600;
                    width: 100%;
                    height: 100%;
                    background-color: hsla(0, 0%, 100%, 0.35);
                    background-blend-mode: overlay;
                    font-size: 40px;
                    align-items: center;
                    justify-content: center;
                }
            }


        }
    }

    .section_5_features {


        &:nth-child(2) {
            margin-top: 100px;

            @media (max-width:1200px) {
                margin-left: 40px;
            }

            @media (max-width:768px) {
                margin-top: 40px;
                margin-left: 0px;
            }
        }

    }
}


/* Section_6 Contact and others */

#section_6 {
    // background-color: lightyellow;
    width: 100%;
    padding-top: 46px;
    padding-bottom: 46px;
    background-image: url('/img/yellow\ bgi_.png');
    background-size: cover;
    background-position: center;
    background-color: hsla(0, 0%, 100%, 0.35);
    background-blend-mode: overlay;

    .container_cus {

        @media (max-width:768px) {
            max-width: 100%;
            margin: 0;
            padding: 0;
        }

        .section_6_conten {
            padding: 0 60px;

            @media (max-width:768px) {
                max-width: 100%;
                margin: 0;
                padding: 0 15px;
            }

            a {

                @media (max-width:768px) {
                    font-size: 12px;
                }

            }

            #recruit_modal{

                .modal-body{

                    .recruit_content{

                        display: flex;
                        margin-bottom: 20px;

                        .recruit_content_img{
                            width: 50%;

                        }

                        .recruit_content_job{
                            width: 50%;
                            padding: 80px 30px;

                            .recruit_content_job_conditions {
                                padding: 0 15px;

                                span {
                                    line-height: 26px;
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    .section_6_content {
        width: 100%;

        .contact_content {
            min-height: 300px;
            background-color: white;
            padding: 30px;
            border-radius: 5px;

            .label,
            input {

                @media (max-width:768px) {

                    font-size: 12px;
                }
            }


            .swiper-container {
                width: 100%;


            }
        }
    }

    .modal_link {
        color: #007bff;
        text-decoration: none;
        background-color: transparent;


        &:hover {
            color: #0056b3;
        }

        &.active {
            color: #fff;
            background-color: #007bff;
        }
    }

}







/* Footer */


footer {

    font-size: $font_size_footer;
    color: $font_color_footer;

    /* .footer_top {
        width: 100%;
        background-color: $background_color_footer_top;

        .footer_links {

            ul {

                list-style: none;

                li {
                    a {
                        text-decoration: none;
                        color: $font_color_footer;

                        &:hover {
                            color: yellow;

                        }
                    }

                }
            }

        }
    } */


    .footer_bot {
        width: 100%;
        background-color: $background_color_footer_bot;

        a {
            color: green;
        }
    }



}