@charset "UTF-8";
/* 通用 */
/* pantone color list */
/* 漸層函式 */
body {
  overflow-x: hidden;
}

/* NAV */
.bg-nav {
  background-color: #F87148;
}

.bg-nav .navbar-brand {
  position: relative;
  margin-right: 150px;
}

@media (max-width: 1200px) {
  .bg-nav .navbar-brand {
    margin-right: 100px;
  }
}

@media (max-width: 960px) {
  .bg-nav .navbar-brand {
    margin-right: 0;
  }
}

.bg-nav .navbar-brand .nav_logo {
  position: absolute;
  top: -20px;
}

.bg-nav .navbar-brand .nav_logo img {
  width: 80px;
}

@media (max-width: 989px) {
  .bg-nav .navbar-brand .nav_logo img {
    width: 55px;
  }
}

.bg-nav .navbar-collapse .navbar-nav .nav-item .nav_font_style {
  color: white;
  font-weight: 600;
  text-shadow: #7a7a7a 1px 1px 0px;
}

.bg-nav .navbar-collapse .navbar-nav .nav-item .nav_font_style:hover {
  color: #52ff5b;
}

.bg-nav .nav_right .nav_right_lang {
  padding-right: 40px;
}

.bg-nav .nav_right .nav_right_lang .nav_font_style {
  color: white;
  font-weight: 600;
}

.bg-nav .nav_right .nav_right_lang .nav_font_style:hover {
  color: #056C9B;
}

.bg-nav .nav_right .nav_right_lang .nav_toggle_font_style {
  color: #33558b;
  font-weight: 600;
}

.bg-nav .nav_right .nav_right_lang .nav_toggle_font_style:hover {
  color: #d13b3f;
}

.bg-nav .nav_right .nav_right_card {
  width: 35px;
  line-height: 40px;
}

/* Section_1 Banner */
#section_1 {
  width: 100%;
  height: calc(100vh - 56px);
  margin-top: 56px;
}

#section_1 .swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#section_1 .swiper-slide {
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section_1 .swiper-slide img {
  width: 100%;
  height: 100%;
}

#section_1 .section_1_swiper {
  margin-top: 56px;
  width: 100%;
  height: calc(100vh - 56px);
}

/* Section_2 Menu*/
#section_2 {
  width: 100%;
  min-height: calc(100vh - 56px);
  /*     background-color: $section_2_bg_color; */
  position: relative;
  background-image: url("../img/buger-pattern.jpg");
  background-position: center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.404);
  background-blend-mode: overlay;
}

@media (max-width: 576px) {
  #section_2 .container_cus {
    max-width: 100%;
  }
}

#section_2 .section_2_title h2 {
  margin: 48px 0px 0px 0px;
}

#section_2 .section_2_menu a {
  font-size: 18px;
}

@media (max-width: 996px) {
  #section_2 .section_2_menu a {
    font-size: 15px;
  }
}

#section_2 .section_2_menu .tab-content .card {
  margin-top: 10px;
  padding: 0 5px;
}

#section_2 .section_2_menu .tab-content .card img {
  margin-top: 5px;
}

#section_2 .section_2_menu .tab-content .card .card_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 996px) {
  #section_2 .section_2_menu .tab-content .card .card_btn {
    padding: 1px 5px;
  }
}

#section_2 .section_2_menu .tab-content .card .card_btn button span {
  font-size: 15px;
  padding: 5px 15px;
}

@media (max-width: 996px) {
  #section_2 .section_2_menu .tab-content .card .card_btn button span {
    font-size: 9px;
    padding: 5px 5px;
  }
}

#section_2 .section_2_bot .section_2_bot_btns {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* Section_3 Social media*/
#section_3 {
  width: 100%;
  height: calc(100vh - 56px);
  background: linear-gradient(170deg, #FFE862, #832083);
  background: -o-linear-gradient(165deg, #FFE862, #832083);
}

@media (max-width: 576px) {
  #section_3 .container_cus {
    max-width: 100%;
  }
}

#section_3 h2 {
  padding-top: 46px;
  color: #0f4c81;
}

/* Section_4 banner & locations */
@media (max-width: 576px) {
  #section_4 .container_cus {
    max-width: 100%;
  }
}

#section_4 .section_4_banner {
  width: 100%;
  height: 50%;
  background-color: #eeeeee;
  background-image: url("");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: overlay;
}

#section_4 .section_4_locations {
  /*         max-height: 80%; */
  /*         padding-top: 50px; */
  background-image: url("../img/locations/taiwan-map-3.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.35);
  background-blend-mode: overlay;
}

#section_4 .section_4_locations h2 {
  padding: 48px 0px 16px 0px;
  margin: 0;
  color: #2A3491;
}

#section_4 .section_4_locations .section_4_locations_content {
  height: 100%;
}

#section_4 .section_4_locations .section_4_locations_content .location_city {
  max-width: 200px;
  margin-bottom: 70px;
}

#section_4 .section_4_locations .section_4_locations_content .location_city h4 {
  color: #8B1D21;
  text-shadow: #bdbbbb 2px 2px 1px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  #section_4 .modal .modal-dialog .modal-body .card {
    max-width: 100%;
  }
}

#section_4 .modal .modal-dialog .modal-body .card .card-body .location_icon a img {
  width: 30px;
  height: 30px;
  margin: 5px 5px 0 0;
}

/* Section_5 Features */
#section_5 {
  max-width: 100%;
  padding-bottom: 46px;
  background-color: #f7f7e8;
}

@media (max-width: 576px) {
  #section_5 .container_cus {
    max-width: 100%;
  }
}

#section_5 h2 {
  padding-top: 46px;
  margin-bottom: 32px;
  color: #fa7268;
}

@media (max-width: 768px) {
  #section_5 h2 {
    padding-top: 32px;
  }
}

#section_5 .section_5_content_top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  #section_5 .section_5_content_top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 576px) {
  #section_5 .section_5_content_top {
    padding: 0 !important;
  }
}

#section_5 .section_5_content_top .section_5_features {
  background-color: #FFB133;
  height: 200px;
}

#section_5 .section_5_content_top .section_5_features:nth-child(1) {
  background-image: url("../img/cards/中西合併.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section_5 .section_5_content_top .section_5_features:nth-child(1):hover::after {
  display: inherit;
}

#section_5 .section_5_content_top .section_5_features:nth-child(1)::after {
  display: none;
  content: '中西合併';
  color: white;
  text-shadow: #474747 2px 2px 1px;
  font-weight: 600;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.35);
  background-blend-mode: overlay;
  font-size: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section_5 .section_5_content_top .section_5_features:nth-child(2) {
  background-image: url("../img/cards/Food-Safety-Blog.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section_5 .section_5_content_top .section_5_features:nth-child(2):hover::after {
  display: inherit;
}

#section_5 .section_5_content_top .section_5_features:nth-child(2)::after {
  display: none;
  content: '在地素材';
  color: white;
  text-shadow: #474747 2px 2px 1px;
  font-weight: 600;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.35);
  background-blend-mode: overlay;
  font-size: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section_5 .section_5_content_bot {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  #section_5 .section_5_content_bot {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  #section_5 .section_5_content_bot {
    margin-top: 40px;
  }
}

@media (max-width: 576px) {
  #section_5 .section_5_content_bot {
    padding: 0 !important;
  }
}

#section_5 .section_5_content_bot .section_5_features {
  background-color: #FFB133;
  height: 200px;
}

#section_5 .section_5_content_bot .section_5_features:nth-child(1) {
  background-image: url("../img/cards/check.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section_5 .section_5_content_bot .section_5_features:nth-child(1):hover::after {
  display: inherit;
}

#section_5 .section_5_content_bot .section_5_features:nth-child(1)::after {
  display: none;
  content: '品質控管';
  color: white;
  text-shadow: #474747 2px 2px 1px;
  font-weight: 600;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.35);
  background-blend-mode: overlay;
  font-size: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section_5 .section_5_content_bot .section_5_features:nth-child(2) {
  background-image: url("../img/cards/Food-Safety-Blog.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section_5 .section_5_content_bot .section_5_features:nth-child(2):hover::after {
  display: inherit;
}

#section_5 .section_5_content_bot .section_5_features:nth-child(2)::after {
  display: none;
  content: '超值選擇';
  color: white;
  text-shadow: #474747 2px 2px 1px;
  font-weight: 600;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.35);
  background-blend-mode: overlay;
  font-size: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section_5 .section_5_features:nth-child(2) {
  margin-top: 100px;
}

@media (max-width: 1200px) {
  #section_5 .section_5_features:nth-child(2) {
    margin-left: 40px;
  }
}

@media (max-width: 768px) {
  #section_5 .section_5_features:nth-child(2) {
    margin-top: 40px;
    margin-left: 0px;
  }
}

/* Section_6 Contact and others */
#section_6 {
  width: 100%;
  padding-top: 46px;
  padding-bottom: 46px;
  background-image: url("../img/yellow-bgi.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.35);
  background-blend-mode: overlay;
}

@media (max-width: 768px) {
  #section_6 .container_cus {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
}

#section_6 .container_cus .section_6_conten {
  padding: 0 60px;
}

@media (max-width: 768px) {
  #section_6 .container_cus .section_6_conten {
    max-width: 100%;
    margin: 0;
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  #section_6 .container_cus .section_6_conten a {
    font-size: 12px;
  }
}

#section_6 .container_cus .section_6_conten #recruit_modal .modal-body .recruit_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

#section_6 .container_cus .section_6_conten #recruit_modal .modal-body .recruit_content .recruit_content_img {
  width: 50%;
}

#section_6 .container_cus .section_6_conten #recruit_modal .modal-body .recruit_content .recruit_content_job {
  width: 50%;
  padding: 80px 30px;
}

#section_6 .container_cus .section_6_conten #recruit_modal .modal-body .recruit_content .recruit_content_job .recruit_content_job_conditions {
  padding: 0 15px;
}

#section_6 .container_cus .section_6_conten #recruit_modal .modal-body .recruit_content .recruit_content_job .recruit_content_job_conditions span {
  line-height: 26px;
}

#section_6 .section_6_content {
  width: 100%;
}

#section_6 .section_6_content .contact_content {
  min-height: 300px;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  #section_6 .section_6_content .contact_content .label,
  #section_6 .section_6_content .contact_content input {
    font-size: 12px;
  }
}

#section_6 .section_6_content .contact_content .swiper-container {
  width: 100%;
}

#section_6 .modal_link {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

#section_6 .modal_link:hover {
  color: #0056b3;
}

#section_6 .modal_link.active {
  color: #fff;
  background-color: #007bff;
}

/* Footer */
footer {
  font-size: 15px;
  color: black;
  /* .footer_top {
        width: 100%;
        background-color: $background_color_footer_top;

        .footer_links {

            ul {

                list-style: none;

                li {
                    a {
                        text-decoration: none;
                        color: $font_color_footer;

                        &:hover {
                            color: yellow;

                        }
                    }

                }
            }

        }
    } */
}

footer .footer_bot {
  width: 100%;
  background-color: #FFB133;
}

footer .footer_bot a {
  color: green;
}
/*# sourceMappingURL=index.css.map */